<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/cloudbean.PNG" alt="">
    </a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  
      aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active-link"> Home </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/private" routerLinkActive="active-link"> Member</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/sso" routerLinkActive="active-link"> SSO</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active-link"> About Me</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.cgi.com/en" target="_blank"> CGI</a></li>  
      </ul>
   </div> <!-- navbar-collapse.// -->
  </div> <!-- container-fluid.// -->
</nav>