<div class="resume">
  <div class="resume_left">

    <div class="resume_content">
      <div class="resume_item">
        <p></p>
        <ul>

          <li>
            <div class="icon">
              <fa-icon icon="signs-post"></fa-icon>
            </div>
            <div class="regular">
              &nbsp;Edmonton, Canada<br />
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_EDUCATION">
        <div class="title">
          <p class="bold">Qualifications</p>
        </div>

        <p class="regular">Bachelor of Computer Science: PUC, Brazil, 1996</p>
        <p class="regular">AWS Certified Security – Specialty, 2022</p>
        <p class="regular">AWS Certified Architect – Associate, 2021</p>
        <p class="regular">AWS Certified Developer – Associate, 2020</p>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
      <div class="title">

        <p class="bold">Marcelo Medeiros</p>
        <h6 style="color:#0bb5f4;">Senior System Analyst</h6>
      </div>

      <p>Marcelo Medeiros is an IT consultant with over 20 years of experience in all areas of the software development
        life cycle (SDLC) and application maintenance services (AMS). He is responsible for code enhancement, testing,
        deployments, application performance and infrastructure performance enhancement. He has exceptional problem
        solving skills. Marcelo is able to effectively communicate with clients and technical staff, as required. He is
        also dedicated and passionate about his work. Marcelo enjoys learning about technology and continual
        improvement.</p>

      <p>Marcelo has worked mostly with Java/JEE language throughout his career, however, he has started working on .NET
        applications for the last two years. He has a Bachelor of Computer Science degree. Marcelo recently earned these
        three Amazon Web Services (AWS) certifications:</p>
        <ul>
          <li>AWS Certified Security – Specialty in April 2022</li>
          <li>AWS Certified Architect – Associate in March 2021</li>
          <li>AWS Certified Developer – Associate in 2020 </li>
        </ul>
    </div>
    <div class="resume_item resume_work">
      <div class="title">
        <p class="bold">Work Experience</p><br>
        <h6 class="summary">Skills summary</h6>
      </div>
      <ul>
        <li>Angular</li>
        <li>Node JS</li>
        <li>Docker</li>
        <li>Full Stack Developer</li>
        <li>.Net(C#) </li>
        <li>Amazon Web Services </li>
        <li>Microsoft Azure </li>
        <li>Web Services - SOAP/REST </li>
        <li>Java/J2EE </li>
        <li>Continuous Integration Continuous Delivery (CI/CD)</li>
      </ul>

      <div class="title">
        <h6 class="summary">Application Knowledge</h6>
      </div>
      <ul>
        <li>Github</li>
        <li>Visual Studion Code</li>
        <li>Microsoft Visual Studio</li>
        <li>Eclipse</li>
        <li>SQL Server</li>
        <li>IBM DB2</li>
        <li>Websphere Application Server</li>
      </ul>

      <div class="title">
        <h6 class="summary">IT Discipline</h6>
      </div>
      <ul>
        <li>Agile</li>
        <li>Business Analysis</li>
        <li>Object-Oriented Analysis and Design</li>
        <li>DevOps</li>
      </ul>

    </div>
  </div>
</div>