

/* You can add global styles to this file, and also import other style files */
/* Import the Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Set the font family for the body */
body {
  font-family: 'Helvetica', sans-serif;
}

/* Add custom styles for the app */
/* For example: */
h1 {
  color: blue;
}


  .bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .semi-bold {
    font-weight: 500;
    font-size: 16px;
  }